.logo-icon {
  width           : 50px;
  height          : 69px;
  float           : left;
  background      : url('../../public/images/logo-icon.png') no-repeat center;
  background-size : contain;
}

.logo-title {
  color       : white;
  font-size   : 30px;
  font-weight : bold;
  left        : 7px;
  position    : relative;
}

.sub-header {
  height      : 40px !important;
  line-height : 40px !important;
  .currency-dropdown {
    width      : 60px;
    float      : right;
    margin-top : 9px;
  }
}

.main-header {
  background-color : #404040 !important;
  height           : 70px !important;
  .top-menu-right {
    line-height : 70px;
    float       : right;
  }
}

.game-search {
  width          : 500px;
  vertical-align : middle !important;
}

.game-search.ant-select-auto-complete .ant-input {
  border-right               : none !important;
  border-top-right-radius    : 0 !important;
  border-bottom-right-radius : 0 !important;
}

.game-search.ant-select-auto-complete .ant-select-selection--single {
  margin-right               : 46px !important;
  border-right               : none !important;
  border-top-right-radius    : 0 !important;
  border-bottom-right-radius : 0 !important;
}

.game-search.ant-select-auto-complete .ant-input-preSuffix-wrapper .ant-input:not(:last-child) {
  padding-right : 7px !important;
}

.game-search.ant-select-auto-complete .ant-input-preSuffix-wrapper .ant-input-suffix {
  right : -46px !important;
}

.game-search.ant-select-auto-complete .ant-input-preSuffix-wrapper .ant-input-suffix button {
  border-top-left-radius    : 0 !important;
  border-bottom-left-radius : 0 !important;
}

.main-content {
  background   : #FFFFFF;
  padding      : 24px;
  min-height   : 280px;
  max-width    : 1180px;
  margin-left  : auto;
  margin-right : auto;
}

.platform-icon {
  width        : 16px;
  height       : 16px;
  display      : inline-block;
  margin-right : 5px;
}

.pc-icon:extend(.platform-icon) {
  background : url('../../public/images/pc.png') no-repeat center;
}

.mac-icon:extend(.platform-icon) {
  background : url('../../public/images/mac.png') no-repeat center;
}

.linux-icon:extend(.platform-icon) {
  background : url('../../public/images/linux.png') no-repeat center;
}

.card-game-content {
  .platforms {
    display  : inline-block;
    position : relative;
    margin   : 10px 16px;
    top      : 11px;
  }
  .prices-block {
    display : inline-block;
    margin  : 10px 16px;
    float   : right;
    .discount-percent {
      vertical-align            : top;
      line-height               : 38px;
      display                   : inline-block;
      font-size                 : 26px;
      background-color          : green;
      padding                   : 0 5px;
      border-top-left-radius    : 4px;
      border-bottom-left-radius : 4px;
      font-family               : inherit;
    }
    .prices {
      line-height                : 14px;
      display                    : inline-block;
      text-align                 : right;
      background-color           : red;
      padding                    : 5px 10px 5px 7px;
      border-top-right-radius    : 4px;
      border-bottom-right-radius : 4px;
      .old-price {
        font-size       : 14px;
        text-decoration : line-through;
        font-family     : inherit;
      }
      .new-price {
        font-size   : 16px;
        font-family : inherit;
      }
    }
  }
}
