@import "~intro.js/introjs.css";
@import "~intro.js/themes/introjs-flattener.css";

body {
  background-color : #1B2838 !important;
}

.logo {
  display : inline-block;
  width   : 212px;
  .logo-icon {
    width           : 50px;
    height          : 69px;
    float           : left;
    background      : url('images/logo-icon.png') no-repeat center;
    background-size : contain;
  }
  .logo-title {
    color       : #C6D4DF;
    font-size   : 20px;
    font-weight : bold;
    left        : 7px;
    position    : relative;
  }
}

.ant-layout-header {
  padding    : 0 !important;
  background : #101821 !important;
}

.main-header {
  height : 70px !important;
  @media screen and (max-width : 991px) {
    height : initial !important;
  }
  .header-content {
    max-width : 1180px;
    margin    : 0 auto;
    @media screen and (max-width : 1200px) {
      padding : 0 16px;
    }
    .top-menu-right {
      display          : inline-block;
      vertical-align   : middle;
      background-color : #101821 !important;
    }
    .search {
      display : inline-block;
      @media screen and (max-width : 995px) {
        width : 100%;
      }
      @media screen and (max-width : 768px) {
        padding-right : 12px;
      }
      @media screen and (max-width : 320px) {
        padding-right : 34px;
      }
      .game-search {
        width          : 250px;
        @media screen and (max-width : 995px) {
          width : 87%;
        }
        @media screen and (max-width : 767px) {
          width : 95%;
        }
        vertical-align : middle !important;
        .ant-select-selection.ant-select-selection--single {
          border-radius : 4px 0 0 4px;
          border-width  : 1px 0 1px 1px;
        }
      }
      .search-btn {
        vertical-align : middle;
        border-radius  : 0 4px 4px 0;
        @media screen and (max-width : 1190px) {
          position : absolute;
          top      : 18px;
        }
      }
    }
    .right-items {
      float : right;
      .currency-dropdown {
        width          : 60px;
        vertical-align : middle;
      }
      @media screen and (max-width : 454px) {
        float : none ;
        .ant-menu-item {
          .menu-text {
            display : none;
          }
        }
      }
    }
  }

}

.main-footer {
  text-align       : center;
  color            : #8F98A0 !important;
  background-color : #101821;
  a {
    color : #C6D4DF !important;
    &:hover {
      color : white !important;
    }
  }
}

.ant-select-dropdown {
  background-color : #101821 !important;
}

.ant-select-dropdown-menu-item {
  color : #ACDBF5 !important;
}

.ant-select-dropdown-menu-item-selected,
.ant-select-dropdown-menu-item-selected:hover,
.ant-select-dropdown-menu-item {
  background-color : #212D3D !important;
}

.ant-select-dropdown-menu-item:hover,
.ant-select-dropdown-menu-item-active {
  .title {
    color : white;
  }
  color            : white !important;
  background-color : #101821 !important;
}

.platform-icon {
  margin-right : 5px;
  color        : #ACDBE9;
  font-size    : 16px;
}

.card-game-content {
  .platforms {
    display  : inline-block;
    position : relative;
    margin   : 10px 0 10px 16px;
    top      : 12px;
  }
  .prices-block {
    display : inline-block;
    margin  : 10px 16px 10px 0;
    float   : right;
    .discount-percent {
      vertical-align            : top;
      line-height               : 38px;
      display                   : inline-block;
      font-size                 : 26px;
      color                     : #A4D007;
      background-color          : #4C6B22;
      padding                   : 0 5px;
      border-top-left-radius    : 4px;
      border-bottom-left-radius : 4px;
    }
    .prices {
      line-height                : 14px;
      display                    : inline-block;
      text-align                 : right;
      background-color           : rgba(20, 31, 44, 0.8);
      padding                    : 5px 10px 5px 7px;
      border-top-right-radius    : 4px;
      border-bottom-right-radius : 4px;
      .old-price {
        font-size       : 14px;
        text-decoration : line-through;
        color           : #577180;
      }
      .new-price {
        font-size : 16px;
        color     : #ACDBF5;
      }
    }
    .price {
      vertical-align   : top;
      line-height      : 38px;
      display          : inline-block;
      font-size        : 26px;
      color            : #ACDBF5;
      background-color : rgba(20, 31, 44, 0.8);
      padding          : 0 5px;
      border-radius    : 4px;
    }
    .free-tag {
      vertical-align   : top;
      line-height      : 38px;
      display          : inline-block;
      font-size        : 26px;
      color            : #A4D007;
      background-color : #4C6B22;
      padding          : 0 5px;
      border-radius    : 4px;
    }
  }
}

.ant-card.ant-card-loading {
  height : 195px;
  @media screen and (max-width : 1199px) {
    height : 170px;
  }
  @media screen and (max-width : 991px) {
    height : 231px;
  }
}

.ant-card.ant-card-bordered {
  background   : url('images/background_item.jpg') center / cover no-repeat;
  border-color : #1B2838;
}

.ant-layout-content {
  background : #1B2838 url('images/body_top.png') center top no-repeat;
  overflow   : initial !important;
  .main-content {
    width     : 100%;
    max-width : 1180px;
    margin    : 0 auto;
    padding   : 24px 0;
    @media screen and (max-width : 1200px) {
      padding : 24px 16px;
    }
  }
  &.loading {
    background : #1B2838;
  }
}

.ant-menu-dark {
  background-color    : #171A21 !important;
  border-bottom-color : #171A21 !important;
}

.suggestions {
  .title {
    display        : inline-block;
    font-size      : 20px;
    color          : #ACDBF5;
    vertical-align : top;
    line-height    : 45px;
    margin-left    : 13px;
  }
}

.ant-spin {
  display    : block !important;
  text-align : center !important;
  color      : #ACDBE9 !important;
  .ant-spin-dot {
    margin : 0 auto;
    i {
      background-color : #ACDBE9;
    }
  }
}

.spin-loading {
  position    : absolute !important;
  top         : 50%;
  left        : 50%;
  margin-left : -60px;
}

.ant-message {
  color : #8F98A0;
  top   : 87px !important;
  a {
    color : #C6D4DF;
    &:hover {
      color : #FFFFFF;
    }
  }
  .ant-message-notice-content {
    background-color : #101821;
    .ant-message-error .anticon {
      color : #8F98A0;
    }
  }
}

.game-item {
  padding : 8px 0;
}

.introjs-disabled, .introjs-disabled:hover, .introjs-disabled:focus {
  color           : #9A9A9A;
  border-color    : #D4D4D4;
  box-shadow      : none;
  cursor          : default;
  background      : #F4F4F4 none;
  text-decoration : none;
}
